@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*================================================*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*================================================*/
.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.25em;
  color: #000000;
}
.title li {
  padding: 5px 0 0 15px;
}

.title-white {
  background-color: #FFFFFF;
  transform: rotate(-2deg);
}

.title-yellow {
  background-color: #EBD96B;
  transform: rotate(-2deg);
}

.title-text {
  transform: rotate(2deg);
}

@media (max-width: 1399.98px) {
  .title {
    font-size: 80px;
  }
}
@media (max-width: 1199.98px) {
  .title {
    font-size: 60px;
  }
}
@media (max-width: 991.98px) {
  .title {
    font-size: 50px;
  }
}
@media (max-width: 767.98px) {
  .title {
    font-size: 40px;
  }
}
@media (max-width: 575.98px) {
  .title {
    font-size: 30px;
  }
}

/*================================================*/
.subtitle {
  padding-bottom: 60px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.25em;
  letter-spacing: 0.06em;
  display: flex;
}
@media (max-width: 767.98px) {
  .subtitle {
    padding-bottom: 40px;
    font-size: 38px;
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .subtitle {
    padding-bottom: 25px;
    font-size: 22px;
  }
}
@media (max-width: 319.98px) {
  .subtitle {
    font-size: 16px;
  }
}

.subtitle__row {
  padding: 10px;
  position: relative;
}

.background-icon {
  max-width: 220px;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .background-icon {
    max-width: 150px;
  }
}
@media (max-width: 767.98px) {
  .background-icon {
    max-width: 130px;
  }
}
@media (max-width: 575.98px) {
  .background-icon {
    max-width: 100px;
  }
}
@media (max-width: 319.98px) {
  .background-icon {
    max-width: 80px;
  }
}

/*================================================*/
.button button {
  border-radius: 10px;
  background: #000000;
  padding: 20px 40px;
  max-width: 220px;
  max-height: 80px;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
  transition: 0.5s 0s ease;
}
.button button:hover {
  border: 1px solid black;
  color: #000;
  background-color: #FFFFFF;
}
.button button:active {
  color: #EBD96B;
}
@media (max-width: 767.98px) {
  .button button {
    font-size: 20px;
  }
}

/*================================================*/
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__name {
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  color: #191919;
}

.text__gray {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25em;
  letter-spacing: -0.04em;
  color: #7F7F7F;
}

@media (max-width: 767.98px) {
  .content__name {
    font-size: 22px;
    line-height: 1.25em;
  }
  .text__gray {
    font-size: 18px;
  }
}
/*================================================*/
[class*=__container] {
  margin: 0 auto;
  margin-bottom: 100px;
  max-width: 1720px;
  width: 100%;
}

@media (max-width: 1919.98px) {
  [class*=__container] {
    max-width: 1360px;
  }
}
@media (max-width: 1399.98px) {
  [class*=__container] {
    max-width: 1170px;
  }
}
@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    margin-bottom: 60px;
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    margin-bottom: 40px;
    padding: 0 15px;
    max-width: none;
  }
}
@media (max-width: 319.98px) {
  [class*=__container] {
    max-width: 280px;
  }
}
/*================================================*/
.header__container {
  margin-bottom: 55px;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.logo-header {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.menu-header {
  transition: 1s ease;
}

.logo-header__name {
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #000000;
}

.menu-header__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 20px;
}

.menu-header__item a {
  padding: 12px 20px 15px 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: #242323;
  transition: 1s 0s ease;
}
.menu-header__item a:hover {
  background-color: #000000;
  color: #FEFEFE;
}
.menu-header__item a:active {
  color: #EBD96B;
  background-color: #000000;
}

@media (max-width: 991.98px) {
  .logo-header__name {
    font-size: 30px;
  }
  .menu-header__item a {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .menu-header__list {
    column-gap: 10px;
  }
  .logo-header__name {
    font-size: 24px;
  }
  .menu-header__item a {
    font-size: 14px;
  }
}
@media (max-width: 575.98px) {
  .header__container {
    column-gap: 20px;
  }
  .header__container {
    flex-direction: column;
  }
  .menu-header__list {
    justify-content: center;
  }
}
/*================================================*/
.burger-menu {
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: none;
}
.burger-menu.active .burger-menu__lines:nth-child(2) {
  top: 50%;
  left: 25%;
  transform: translate(0, 50%) rotate(-45deg);
}
.burger-menu.active .burger-menu__lines:nth-child(1) {
  display: none;
}
.burger-menu.active .burger-menu__lines:nth-child(3) {
  top: 50%;
  left: 25%;
  transform: translate(0, 0%) rotate(45deg);
}

.burger-menu__lines {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242323;
  transition: 0.5s 0s ease;
}
.burger-menu__lines:first-child {
  top: calc(50% - 10px);
}
.burger-menu__lines:last-child {
  top: calc(50% + 10px);
}

@media (max-width: 767.98px) {
  .burger-menu {
    display: block;
  }
  .menu-header {
    margin-bottom: -100px;
    transform: translateX(200%);
  }
  .menu-header.active {
    margin-bottom: 0;
    transform: translateX(0);
  }
}
@media (max-width: 575.98px) {
  .burger-menu {
    order: 2;
  }
  .menu-header {
    margin-bottom: -100px;
    order: 3;
  }
}
/*================================================*/
.page {
  flex: 1 1 auto;
}

/*================================================*/
.top-img__row {
  padding: 65px 50px 0 65px;
  background-color: #F4F6F5;
  border-radius: 59px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 30px;
}

.top-img__info {
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.info-top-img__title {
  margin: 0 auto;
  padding-bottom: 40px;
}

.info-top-img__text {
  padding: 0 0 40px 15px;
  text-align: justify;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #191818;
}

.info-top-img__control {
  padding-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.top-img__img {
  padding: 0;
  position: relative;
}
.top-img__img img {
  width: 100%;
  max-width: 870px;
}
.top-img__img .top-img__star {
  max-width: 5%;
  position: absolute;
}
.top-img__img .top-img__star_1 {
  top: 3%;
  left: 0;
}
.top-img__img .top-img__star_2 {
  top: 88%;
  left: 5%;
}
.top-img__img .top-img__star_3 {
  top: 10%;
  left: 73%;
}
.top-img__img .top-img__star_4 {
  top: 79%;
  left: 88%;
}

@media (max-width: 1199.98px) {
  .top-img__row {
    padding: 25px 15px 0 15px;
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .info-top-img__text {
    font-size: 24px;
    line-height: 1.25em;
  }
  .info-top-img__control {
    flex-direction: column;
    row-gap: 30px;
  }
}
/*================================================*/
.partners {
  background-color: #EBD96B;
}

.partners__container {
  padding: 60px 170px 55px 170px;
}

.partners__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

/*================================================*/
.new-arrivals__items {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.item-new-arrivals__img {
  padding-bottom: 20px;
}
.item-new-arrivals__img img {
  max-width: 400px;
}

@media (max-width: 991.98px) {
  .new-arrivals__subtitle {
    justify-content: center;
  }
  .new-arrivals__items {
    flex-direction: row;
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .item-new-arrivals__img {
    padding-bottom: 20px;
  }
  .item-new-arrivals__img img {
    max-width: 300px;
  }
  .content__name {
    font-size: 22px;
  }
  .content__explore {
    font-size: 18px;
  }
}
@media (max-width: 319.98px) {
  .item-new-arrivals__img {
    padding-bottom: 20px;
  }
  .item-new-arrivals__img img {
    max-width: 250px;
  }
}
/*================================================*/
.sales {
  background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}

.sales__container {
  display: flex;
  justify-content: space-between;
}

.sales__img {
  margin: 0 auto;
  flex: 1 0 50%;
  position: relative;
}
.sales__img img {
  width: 100%;
}
.sales__img .sales__star {
  max-width: 8%;
  position: absolute;
}
.sales__img .sales__star_1 {
  top: 15%;
  left: 15%;
}
.sales__img .sales__star_2 {
  top: 47%;
  left: 20%;
}
.sales__img .sales__star_3 {
  top: 10%;
  left: 78%;
}
.sales__img .sales__star_4 {
  top: 60%;
  left: 83%;
}

.title-sales {
  display: flex;
}

.sales__info {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
}

.sales__text-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sales__text {
  padding-left: 15px;
  font-weight: 500;
  font-size: 36.0402px;
  line-height: 52px;
  letter-spacing: -0.02em;
  color: #231300;
}

.sales__text_strong {
  font-weight: 700;
  color: #000000;
}

@media (max-width: 1199.98px) {
  .sales__container {
    flex-direction: column;
  }
  .title-sales {
    justify-content: center;
  }
  .sales__text {
    text-align: center;
    font-size: 32px;
  }
  .sales__button {
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .sales__img img {
    width: 500px;
  }
  .sales__text {
    font-size: 24px;
    line-height: 1.25em;
  }
}
@media (max-width: 575.98px) {
  .sales__img img {
    max-width: 280px;
  }
}
@media (max-width: 319.98px) {
  .sales__img img {
    max-width: 230px;
  }
}
/*================================================*/
.youngs-favourite__content {
  text-transform: none;
}

.youngs-favourite__items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.item-youngs-favourite__img img {
  max-width: 655px;
}

@media (max-width: 1399.98px) {
  .youngs-favourite__subtitle,
.youngs-favourite__items {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  .item-youngs-favourite__img img {
    max-width: 100%;
  }
}
/*================================================*/
.download__container {
  display: flex;
  justify-content: space-around;
  column-gap: 100px;
  row-gap: 40px;
}

.info-download {
  padding-top: 200px;
  flex: 0 0 40%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-download__subtitle {
  padding-bottom: 0;
}

.info-download__control {
  display: flex;
  gap: 20px;
}

.download__img {
  position: relative;
  flex: 0 0 40%;
}
.download__img .download__phone {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
@media (max-width: 1399.98px) {
  .download__img .download__phone {
    max-width: 90%;
  }
}
.download__img .download__icon {
  position: absolute;
}
.download__img .download__icon_little-gray-circle {
  max-width: 2%;
  top: 75%;
  left: 92%;
}
.download__img .download__icon_big-gray-circle {
  max-width: 5%;
  top: 16%;
  left: 5%;
}
.download__img .download__icon_big-yellow-circle {
  max-width: 5%;
  top: 85%;
  left: 0;
}
.download__img .download__icon_little-yellow-circle {
  max-width: 4%;
  top: 14%;
  left: 87%;
}
.download__img .download__round_1 {
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.download__img .download__round_2 {
  max-width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.download__img .download__round_3 {
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1199.98px) {
  .download__container {
    flex-direction: column;
  }
  .info-download {
    margin: 0 auto;
    padding-top: 0px;
  }
  .info-download__subtitle,
.info-download__text {
    text-align: center;
  }
  .info-download__control {
    margin: 0 auto;
  }
}
@media (max-width: 767.98px) {
  .info-download__control {
    flex-direction: column;
    align-items: center;
  }
}
/*================================================*/
.join-us {
  padding: 100px 0;
  background-color: #E5C643;
}

.join-us__container {
  margin: 0;
}
@media (max-width: 767.98px) {
  .join-us__container {
    margin: 40px 0;
  }
}

.join-us__title {
  margin: 0 auto;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 55px;
  line-height: 1.25em;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  max-width: 960px;
}

.join-us__text {
  padding-bottom: 40px;
  text-align: center;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #FFFCF8;
}

.form__row {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 570px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.form__button button {
  padding: 20px;
  font-weight: 500;
  font-size: 33px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #000000;
}

@media (max-width: 767.98px) {
  .join-us {
    padding: 40px 0;
  }
  .join-us__title {
    font-size: 32px;
  }
  .join-us__text {
    font-size: 24px;
  }
  .form__row {
    flex-direction: column;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
}
/*================================================*/
.footer {
  background-color: #000000;
}

.footer__container {
  padding-top: 100px;
  display: flex;
  column-gap: 300px;
  row-gap: 40px;
}

.about-us {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.about-us__logo {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.about-us__text {
  padding-top: 20px;
  max-width: 300px;
}

.about-us__links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.about-us__link {
  width: 50px;
  height: 50px;
  background: #EBD96B;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__link img {
  display: block;
}
.about-us__link:hover {
  cursor: pointer;
  transform: scale(110%);
  transition: 0.5s 0s ease;
}

.menu-footer {
  flex: 1 0 50%;
}

.menu-footer__lists {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.menu-footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-footer__item a {
  font-size: 24px;
  line-height: 1.25em;
  letter-spacing: 0.02em;
  color: #8E8E8E;
}
.menu-footer__item a:active {
  color: #EBD96B;
}

.menu-footer__item_head a {
  color: #D9D9D9;
}

@media (max-width: 1199.98px) {
  .footer__container {
    flex-direction: column;
  }
  .about-us {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .footer__container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .menu-footer__item a {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  .about-us {
    flex-direction: column;
  }
  .about-us__info {
    text-align: center;
  }
  .menu-footer__lists {
    flex-wrap: wrap;
  }
}