@import "_nullstyle";

/*================================================*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*================================================*/

.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.25em;
    color: #000000;

    li {
        padding: 5px 0 0 15px;
    }
}

.title-white {
    background-color: #FFFFFF;
    transform: rotate(-2deg);

}

.title-yellow {
    background-color: #EBD96B;
    transform: rotate(-2deg);
}

.title-text {
    transform: rotate(2deg);
}

.title {
    @media (max-width: 1399.98px) {
        font-size: 80px;
    }

    @media (max-width: 1199.98px) {
        font-size: 60px;
    }

    @media (max-width: 991.98px) {
        font-size: 50px;
    }

    @media (max-width: 767.98px) {
        font-size: 40px;
    }

    @media (max-width: 575.98px) {
        font-size: 30px;
    }
}

/*================================================*/

.subtitle {
    padding-bottom: 60px;
    display: flex;

    @media (max-width: 767.98px) {
        justify-content: center;
        padding-bottom: 40px;
    }

    @media (max-width: 575.98px) {
        padding-bottom: 25px;
    }
}

.subtitle__row {
    background: url('../../img/new\ arrivals/bg.png') 97% 75%/35% no-repeat;
}

.subtitle__text {
    padding-right: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    letter-spacing: 0.06em;
    flex: 1 0 auto;

    @media (max-width: 767.98px) {
        font-size: 38px;
    }

    @media (max-width: 575.98px) {
        font-size: 24px;
    }

    @media (max-width: 350.98px) {
        font-size: 16px;
    }
}

/*================================================*/

.button {
    button {
        border-radius: 10px;
        background: #000000;
        padding: 20px 40px;
        max-width: 220px;
        max-height: 80px;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: -0.05em;
        color: #FFFFFF;

        &:hover {
            transform: scale(101%);
        }

        @media (max-width: 767.98px) {
            font-size: 20px;
        }
    }
}

/*================================================*/

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__name {
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    color: #191919;
}

.content__explore {
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #7F7F7F;
}

@media (max-width: 767.98px) {
    .content__name {
        font-size: 22px;
        line-height: 1.5em;
    }

    .content__explore {
        font-size: 18px;
        line-height: 1.5em;
    }
}

/*================================================*/

[class*="__container"] {
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1360px;
    width: 100%;
}

@media (max-width: 1399.98px) {
    [class*="__container"] {
        max-width: 1170px;
    }
}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        margin-bottom: 60px;
        max-width: 750px;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        margin-bottom: 40px;
        padding: 0 15px;
        max-width: none;
    }
}

@media (max-width: 319.98px) {
    [class*="__container"] {
        max-width: 280px;
    }
}

/*================================================*/

.header__container {
    margin-bottom: 55px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

.logo-header {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.logo-header__name {
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #000000;
}

.menu-header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;
}

.menu-header__item {

    a {
        padding: 12px 20px 15px 20px;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #242323;

        &:hover {
            background-color: #000000;
            color: #FEFEFE;
        }
    }
}

@media (max-width: 991.98px) {
    .logo-header__name {
        font-size: 30px;
    }

    .menu-header__item {
        a {
            font-size: 18px;
        }
    }
}

@media (max-width: 767.98px) {
    .menu-header__list {
        column-gap: 10px;
    }

    .logo-header__name {
        font-size: 24px;
    }

    .menu-header__item {
        a {
            font-size: 14px;
        }
    }
}

/*================================================*/
.page {
    flex: 1 1 auto;
}

/*================================================*/

.top-img__row {
    padding: 65px 50px 0 65px;
    background-color: #F4F6F5;
    border-radius: 59px;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 30px;
}

.top-img__info {
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.info-top-img__title {
    margin: 0 auto;
    padding-bottom: 40px;
}

.info-top-img__text {
    padding: 0 0 40px 15px;
    text-align: justify;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.05em;
    color: #191818;
}

.info-top-img__control {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.top-img__img {
    img {
        background: url('../../img/top-img/star.png') 0 2%/5% auto no-repeat,
            url('../../img/top-img/star.png') 83% 8%/5% auto no-repeat,
            url('../../img/top-img/star.png') 6% 95%/5% auto no-repeat,
            url('../../img/top-img/star.png') 92% 91%/5% auto no-repeat;

        width: 100%;
        max-width: 870px;
    }
}

@media (max-width: 1199.98px) {
    .top-img__row {
        padding: 25px 15px 0 15px;
        flex-direction: column;
    }
}

@media (max-width: 767.98px) {

    .info-top-img__text {

        font-size: 24px;
        line-height: 1.25em;
    }

    .info-top-img__control {
        flex-direction: column;
        row-gap: 30px;
    }
}

/*================================================*/

.partners {
    background-color: #EBD96B;
}

.partners__container {
    padding: 60px 170px 55px 170px;
}

.partners__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/*================================================*/


.new-arrivals__items {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.item-new-arrivals__img {
    padding-bottom: 20px;

    img {
        max-width: 400px;
    }
}

@media (max-width: 991.98px) {
    .new-arrivals__subtitle {
        margin: 0 auto;
    }

    .new-arrivals__items {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .item-new-arrivals__img {
        padding-bottom: 20px;

        img {
            max-width: 300px;
        }
    }

    .content__name {
        font-size: 22px;
    }

    .content__explore {
        font-size: 18px;
    }
}

@media (max-width: 319.98px) {
    .item-new-arrivals__img {
        padding-bottom: 20px;

        img {
            max-width: 250px;
        }
    }
}

/*================================================*/
.sales {
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}

.sales__container {
    display: flex;
    justify-content: space-between;
}

.sales__img {
    margin: 0 auto;
    flex: 1 0 50%;

    img {
        width: 100%;
        background:
            url('../../img/sales/star.png') 10% 15%/5% auto no-repeat,
            url('../../img/sales/star.png') 85% 10%/5% auto no-repeat,
            url('../../img/sales/star.png') 90% 80%/5% auto no-repeat,
            url('../../img/sales/star.png') 15% 55%/5% auto no-repeat;
    }

}

.title-sales {
    display: flex;
}

.sales__info {

    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
}

.sales__text-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sales__text {
    padding-left: 15px;
    font-weight: 500;
    font-size: 36.0402px;
    line-height: 52px;
    letter-spacing: -0.02em;
    color: #231300;
}

.sales__text_strong {
    font-weight: 700;
    color: #000000;
}

@media (max-width: 1199.98px) {

    .sales__container {
        flex-direction: column;
    }

    .title-sales {
        justify-content: center;
    }

    .sales__text {
        text-align: center;
        font-size: 32px;
    }

    .sales__button {
        margin: 0 auto;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {

    .sales__img {
        img {
            width: 500px;
        }
    }

    .sales__text {
        font-size: 24px;
        line-height: 1.25em;
    }
}

@media (max-width: 575.98px) {
    .sales__img {
        img {
            width: 280px;
        }
    }
}

/*================================================*/
.youngs-favourite {}

.youngs-favourite__container {}

.youngs-favourite__subtitle {
    // max-width: 585px;
}

.youngs-favourite__content {
    text-transform: none;
}

.youngs-favourite__items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.item-youngs-favourite__img {
    img {
        max-width: 655px;
    }
}

@media (max-width: 1199.98px) {
    .youngs-favourite__subtitle {
        justify-content: center;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
    .item-youngs-favourite__img {
        img {
            max-width: 100%;
        }
    }
}

@media (max-width: 575.98px) {}








/*================================================*/

/*================================================*/

/*================================================*/